


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">لیست دسته بندی محصولات</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div id="treeview1" class=""></div>
            </div>
            <div class="col-sm-6">
                <div class="selectedmenu" style="display: none;">
                    <strong>دسته انتخابی :</strong>
                    <p id="lblMenuName"></p><br />
                    <div class="row">
                        <button type="button" id="btnAdd" class="btn btn-success "><i class="fa fa-plus"></i>&nbsp; افزودن زیر دسته</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" id="btnEdit" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; ویرایش</button> &nbsp;&nbsp;&nbsp;
                        <button type="button" id="btnRemove" class="btn btn-danger "><i class="fa fa-trash"></i>&nbsp; حذف</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" id="btnAddParams" class="btn btn-warning "><i class="fa fa-book"></i>&nbsp; افزودن پارامتر</button>
                    </div>
                </div>
                <div class="nonselectedmenu">
                    <p>برای افزودن زیردسته و ویرایش و حذف دسته ای را انتخاب کنید.</p><br />
                    <div class="row">
                        <button type="button" id="btnAddMain" class="btn btn-success "><i class="fa fa-plus"></i>&nbsp; افزودن دسته</button> &nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">افزودن دسته جدید</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtName" class="col-sm-2 control-label">نام:</label>
                    <input type="text" class="form-control" id="txtName" placeholder="نام" />
                </div>
                <div class="form-group">
                    <label for="txtCodding" class="col-sm-2 control-label">کدینگ:</label>
                    <input type="text" class="form-control" id="txtCodding" placeholder="کدینگ" />
                </div>
                <div class="form-group">
                    <label for="txtRkey" class="col-sm-2 control-label">Rkey:</label>
                    <input type="text" class="form-control" id="txtRkey" placeholder="Rkey" />
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">آیکون :</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile">
                            <label class="custom-file-label btn btn-info" id="exampleInputFilelbl" for="exampleInputFile">انتخاب تصویر</label>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">کاور :</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile1">
                            <label class="custom-file-label btn btn-info" id="exampleInputFile1lbl" for="exampleInputFile1">انتخاب تصویر</label>
                        </div>

                    </div>
                </div>

                
            </div>
            <div class="modal-footer btn-group">
                <button type="button" id="btnSabt" class="btn btn-success w-25"><i class="fa fa-check"></i>&nbsp; ثبت</button>
                <button type="button" class="btn btn-warning w-25" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp; انصراف</button>

            </div>
        </div>
    </div>
</div>

<div class="card card-success" id="ParametersDiv" style="display: none;">
    <div class="card-header">
        <h3 class="card-title">لیست پارامتر ها</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <hr>

            <div class="col-sm-6">
                <div id="treeview-checkable" class=""></div>
            </div>
            <div class="col-sm-6">
                <button type="button" id="btnAddparams" class="btn btn-success "><i class="fa fa-plus"></i>&nbsp; ثبت انخاب شده ها</button> &nbsp;&nbsp;&nbsp;
                <button type="button" id="btncloseparam" class="btn btn-warning"><i class="fa fa-remove"></i>&nbsp; بازگشت</button> &nbsp;&nbsp;&nbsp;
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/bootstrap-treeview.js"></script>
    <script src="~/FormScripts/CatProduct.js"></script>

}
