
@{
    ViewData["Title"] = "CustomerOrder";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</div>

<div class="card card-primary" id="PanelList">
    <div class="card-header">
        <h3 class="card-title">لیست سفارشات</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
        </div>
        <hr />
        <div class="row table table-responsive">
            <div class="w-100 TblList">

            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>



@section scripts {


    <script src="~/FormScripts/CustomerOrder.js"></script>
}


