
@{
    ViewData["Title"] = "CustomerOrder";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">لیست سفارشات</h3>
    </div>
    <div class="card-body">
        <div id="accordion">
            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                           سفارش های جدید
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="card-body">
                        <div class="row table table-responsive">
                            <div class="w-100 TblListNew">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-success">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            سفارشات ارسال شده
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="card-body">
                        <div class="row table table-responsive">
                            <div class="w-100 TblListSent">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-danger">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            سفارشات باطل شده
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="card-body">
                        <div class="row table table-responsive">
                            <div class="w-100 TblListAbort">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {


    <script src="~/FormScripts/CustomerOrder.js"></script>
}


