<!-- Content Header (Page header) -->
<link href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="card card-primary" id="PanelList">
    <div class="card-header">
        <h3 class="card-title">لیست محصولات</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col text-center">
                <input type="button" value="افزودن محصول جدید" class="btn btn-primary" id="btnJadid" />
            </div>
        </div>
        <hr />
        <div class="row table table-responsive">
            <div class="w-100 TblList">

            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<div class="card card-info" style="display: none;" id="EditPanel">
    <div class="card-header">
        <h3 class="card-title">ثبت و ویرایش محصول</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">دسته بندی محصول</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <hr />
                        <div class="row">
                            <div class="selectedmenu" style="display: none;">
                                <strong>دسته انتخابی :</strong>
                                <p id="lblMenuName"></p><br />
                            </div>
                            <div id="treeview1" class="w-100"></div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title"> مشخصات محصول</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label>نام :</label>
                                <input id="txtname" type="text" class="form-control" placeholder="نام">
                            </div>
                            <div class="col-md-4 form-group">
                                <label>فروشنده :</label>
                                <select id="cmbSeller" dir="rtl" class="js-example-basic-single w-100 form-control" name="state">
                                    <option value="-1">انتخاب کنید</option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <label>وضعیت کالا :</label>
                                <select id="cmbStatus" dir="rtl" class="js-example-basic-single w-100 form-control" name="state">
                                    <option value="-1">انتخاب کنید</option>
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <label>قیمت :</label>
                                <input id="txtprice" type="number" class="form-control" placeholder="قیمت">
                            </div>
                            <div class="col-md-4 form-group">
                                <label>تعداد اولیه :</label>
                                <input id="txtcount" type="number" class="form-control" placeholder="تعداد اولیه">
                            </div>
                            <div class="col-md-4 form-group">
                                <label>وزن :</label>
                                <input id="txtweight" type="number" class="form-control" placeholder="وزن">
                            </div>
                            <div class="col-md-4 form-group">
                                <input id="mellicode" type="checkbox" checked>&nbsp;&nbsp;<label for="mellicode">شناسه ملی </label>
                                <input id="txtmellicode" type="text" class="form-control" placeholder="شناسه ملی">
                            </div>
                            <div class="col-md-4 form-group">
                                <input id="unesco" type="checkbox" checked>&nbsp;&nbsp;<label for="unesco">شناسه یونسکو</label>
                                <input id="txtunescocode" type="text" class="form-control" placeholder="شناسه یونسکو">

                            </div>
                            <div class="col-md-12 form-group">
                                <label>کلمات کلیدی(با "،" جدا شوند) :</label>
                                <input id="txtkeyword" type="text" class="form-control" placeholder="کلمه کلیدی">
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="exampleInputFile">تصویر کاور :</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label btn btn-info" for="exampleInputFile">انتخاب تصویر</label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label>متادیتا :</label>
                                <input id="txtMetaData" type="text" class="form-control" placeholder="متادیتا">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>رنگ ها :</label>
                                <select id="cmbColor" dir="rtl" class="js-example-basic-multiple w-100" name="states[]" multiple="multiple">
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>نوع بسته بندی :</label>
                                <select id="cmbPacking" dir="rtl" class="js-example-basic-multiple w-100" name="states[]" multiple="multiple">
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label>محصولات مرتبط :</label>
                                <select id="cmbrelevent" dir="rtl" class="js-example-basic-multiple w-100" name="states[]" multiple="multiple">
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="card card-light form-control">
                                <div class="card-header">
                                    <h3 class="card-title">توضیحات</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <textarea dir="rtl" class="form-control" id="txtdesc"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card card-light form-control">
                                <div class="card-header">
                                    <h3 class="card-title">نقد و بررسی</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>نویسنده :</label>
                                            <input id="txtAuthor" type="text" class="form-control" placeholder="نویسنده">
                                        </div>
                                    </div>
                                    <textarea dir="rtl" class="form-control" id="txtCompareDescription "></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <button type="button" id="btnSabt" class="btn btn-success w-25"><i class="fa fa-check"></i>&nbsp; ثبت</button>
            <button type="button" class="btn btn-warning w-25" id="btnBazgasht"><i class="fa fa-remove"></i>&nbsp; انصراف</button>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<div class="card card-warning" style="display: none;" id="ParamPanel">
    <div class="card-header">
        <h3 class="card-title">لیست پارامترها</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="row" id="paramsDiv">

        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer text-center">
        <button type="button" id="btnSabtParams" class="btn btn-success w-25"><i class="fa fa-check"></i>&nbsp; ثبت</button>
        <button type="button" class="btn btn-warning w-25" id="btnBazgashtParams"><i class="fa fa-remove"></i>&nbsp; انصراف</button>
    </div>
</div>

<div class="card card-success" style="display: none;" id="ImagePanel">
    <div class="card-header">
        <h3 class="card-title">تصاویر</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="row">
            <div class="col-md-3">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">ثبت فایل جدید</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txtOnvanTasvir" class="control-label">نوع فایل:</label>
                            <select class="form-control" id="CmbFileType">
                                <option value="1">تصویر</option>
                                <option value="2">فیلم</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtOnvanTasvir" class="control-label">عنوان فایل:</label>
                            <input type="text" class="form-control" id="txtOnvanTasvir" placeholder="عنوان فایل" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">انتخاب فایل</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="SmallInputFile">
                                    <label class="custom-file-label btn btn-info" for="SmallInputFile">انتخاب فایل</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" id="btnSabtImage" class="btn btn-success w-25"><i class="fa fa-check"></i>&nbsp; ثبت</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">فایل ها</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body row" id="FileDiv">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer text-center">

        <button type="button" class="btn btn-warning w-25" id="btnBazgashtImage"><i class="fa fa-remove"></i>&nbsp; انصراف</button>
    </div>
</div>

<div class="card card-success" style="display: none;" id="OfferPanel">
    <div class="card-header">
        <h3 class="card-title">تخفیفات</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div class="row">
            <div class="col-md-3">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">ثبت فایل جدید</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="txtOnvanTasvir" class="control-label">نوع فایل:</label>
                            <select class="form-control" id="CmbFileType">
                                <option value="1">تصویر</option>
                                <option value="2">فیلم</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtOnvanTasvir" class="control-label">عنوان فایل:</label>
                            <input type="text" class="form-control" id="txtOnvanTasvir" placeholder="عنوان فایل" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">انتخاب فایل</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="SmallInputFile">
                                    <label class="custom-file-label btn btn-info" for="SmallInputFile">انتخاب فایل</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" id="btnSabtImage" class="btn btn-success w-25"><i class="fa fa-check"></i>&nbsp; ثبت</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">فایل ها</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body row" id="FileDiv">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer text-center">

        <button type="button" class="btn btn-warning w-25" id="btnBazgashtImage"><i class="fa fa-remove"></i>&nbsp; انصراف</button>
    </div>
</div>





@section scripts {
    <script src="~/js/bootstrap-treeview.js"></script>
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/FormScripts/Product.js"></script>

}


